doctype html
html
  head
    title= subject
  body
    div(style="padding: 20px; color: #58A073; text-align: center;")
      img(src="http://www.hatbarcelona.com/assets/img/logo-inverted.png", width="100")
      h2= subject
      br
      p(style="color: #555; font-style: italic; text-align: left") Name: #{name}
      br
      p(style="color: #555; font-style: italic; text-align: left") Email: #{email}
      br
      p(style="color: #555; font-style: italic; text-align: left") Phone: #{phone}
      br
      p(style="color: #555; font-style: italic; text-align: left") Address: #{address}
      br
      p(style="color: #555; font-style: italic; text-align: left") Date: #{date}
      br
      p(style="color: #555; font-style: italic; text-align: left")= message
